<body>
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="float-left">
      <a routerLink="/user/{{userId}}" class="navbar-link cl-text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a routerLink="/user/{{userId}}" class="cl-text-white navbar-brand cl-text-bold">
        Websites
      </a>
    </div>

    <a routerLink="/user/{{userId}}/website/new" class="navbar-link float-right cl-text-white cl-icon-padding">
      <span class="fas fa-plus"></span>
    </a>
  </div>
</nav>

<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let website of websites">
      <a routerLink="/user/{{userId}}/website/{{website['_id']}}"><span class="fas fa-cog float-right"></span></a>
      <a routerLink="/user/{{userId}}/website/{{website['_id']}}/page">{{website['name']}}</a>

    </li>

  </ul>
</div>

<nav class="navbar fixed-bottom cl-blue-navbar">

  <div class="container-fluid">
    <div class="float-right">
    </div>

    <a routerLink="/user/{{userId}}" class="navbar-link float-right cl-text-white cl-icon-padding">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
</body>
