<body>
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="row container-fluid ">
    <div class="col-sm-6">
      <div class="container-fluid d-none d-sm-block">
        <div class="float-left">
          <a routerLink="/user/{{userId}}" class="navbar-text navbar-link cl-text-white">
            <span class="fas fa-chevron-left"></span>
          </a>
          <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Websites
          </a>
        </div>

        <a routerLink="/user/{{userId}}" class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
          <span class="fas fa-plus"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
          New Websites
        </a>
        <a routerLink="/user/{{userId}}/website" class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
          <span class="fas fa-check"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="row contain-fluid">
  <div class="col-sm-6">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless" *ngFor="let website of websites">
        <a routerLink="/user/{{userId}}/website/{{website['_id']}}"><span class="fas fa-cog float-right"></span></a>
        <a routerLink="/user/{{userId}}/website/{{website['_id']}}/page">{{website['name']}}</a>
      </li>

    </ul>
  </div>


  <div class="col-sm-6">

    <form (ngSubmit)="create()" #f="ngForm">

      <div class="form-group">
        <label for="website-name">Name</label>
        <input id="website-name" ng-model="name" type="text" name="name" placeholder="Name" class="form-control" ngModel required #name="ngModel">
      </div>
      <span class="help-block" *ngIf="!name.valid && name.touched">
      Please enter username!
    </span>

      <div class="form-group">
        <label for="website-description">Description</label>
        <textarea id="website-description" ng-model="description" type="description" name="description" class="form-control" rows="5" placeholder="Description" class="form-control" ngModel required #description="ngModel"></textarea>
      </div>

      <div class="form-group">
        <button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Create</button>
      </div>
    </form>
  </div>


</div>

<nav class="navbar fixed-bottom cl-blue-navbar">

  <div class="container-fluid">
    <div class="float-right">
    </div>

    <a routerLink="/user/{{userId}}/website/new" class="navbar-link float-right cl-text-white cl-icon-padding">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
</body>
